@model IEnumerable<MiniHelpdesk.Models.Ticket>

<h2>Zg³oszenia</h2>
<a asp-action="Create" class="btn btn-primary mb-3">Dodaj zg³oszenie</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th><th>Tytu³</th><th>Status</th><th>Data</th><th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.Status</td>
                <td>@item.CreatedAt</td>
                <td><a asp-action="Details" asp-route-id="@item.Id">Szczegó³y</a></td>
            </tr>
        }
    </tbody>
</table>